 {% extends 'Base.html' %}

 {% load static %}

    {% block body  %}
        <!--Main layout-->
        <main>
            <div class="container">

            <!--Navbar-->
            <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">

                <!-- Navbar brand -->
                <span class="navbar-brand">Categories:</span>

                <!-- Collapse button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Collapsible content -->
                <div class="collapse navbar-collapse" id="basicExampleNav">

                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                    <a class="nav-link" href="#">All
                        <span class="sr-only">(current)</span>
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Shirts</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Sport wears</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Outwears</a>
                    </li>

                </ul>
                <!-- Links -->

                <form class="form-inline">
                    <div class="md-form my-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    </div>
                </form>
                </div>
                <!-- Collapsible content -->

            </nav>
            <!--/.Navbar-->

            <!--Section: Products v.3-->
            <section class="text-center mb-4">

                <!--Grid row-->
                <div class="row wow fadeIn">
                    {% for product in product_list %}             
                        <!--Grid column-->
                        <div class="col-lg-3 col-md-6 mb-4">

                            <!--Card-->
                            <div class="card h-100"> <!-- h-100 لجعل البطاقة تأخذ ارتفاعًا ثابتًا -->

                              <!--Card image-->
                                <div class="view overlay">
                                    {% if product.PrdImage %}
                                        <img src="{{product.PrdImage.url}}" class="card-img-top img-fluid fixed-size" alt="Product Image">
                                    {% else %}
                                        <img src="{% static 'site_static/img/Defult.jpg' %}" class="card-img-top img-fluid fixed-size" alt="Default Image">
                                    {% endif %}
                                    <a>
                                        <div class="mask rgba-white-slight"></div>
                                    </a>
                                </div>
                                <!--Card image-->
                                    <style>
                                        .fixed-size {
                                            width: 100%; /* عرض الصورة يملأ الإطار */
                                            height: 200px; /* ارتفاع ثابت للصورة */
                                            object-fit: cover; /* لجعل الصورة تغطي الإطار مع الحفاظ على النسب */
                                        }
                                    </style>
                                


                                <!--Card content-->
                                <div class="card-body text-center d-flex flex-column">
                                    <!--Category & Title-->
                                    <a href="" class="grey-text">
                                        <h5>{{product.PrdCategory}}</h5>
                                    </a>
                                    <h6>
                                        <strong>
                                            <a href="{{product.get_absolute_url}}" class="dark-grey-text">
                                                {{product.PrdName}}
                                                
                                            </a>
                                        </strong>
                                    </h6>

                                     <h6>
                                        <!-- إذا كان سعر الخصم (PrdDiscountPrice) أكبر من 0، تظهر شارة "SALE" باللون الأخضر -->
                                        {% if product.PrdDiscountPrice > 0 %}
                                                <span class="badge badge-pill badge-success">SALE</span>
                                            {% endif %}
                                        
                                         <!-- إذا كان المنتج جديدًا (PrdIsNew == True)، تظهر شارة "NEW" باللون الأزرق -->
                                        {% if product.PrdIsNew %}
                                                <span class="badge badge-pill badge-primary">NEW</span>
                                            {% endif %}
                                        
                                         <!-- إذا كان المنتج من الأكثر مبيعًا (PrdBestseller == True)، تظهر شارة "BestSeller" باللون الأحمر -->
                                        {% if product.PrdBestseller %}
                                                <span class="badge badge-pill badge-danger">BestSeller</span>
                                            {% endif %}
                                               
                                     </h6>
                                  

                                    <h6 class="font-weight-bold blue-text mt-auto"> <!-- mt-auto لضمان أن السعر يكون في الأسفل -->
                                        <strong>{{product.PrdPrice}}-SR</strong>
                                    </h6>
                                </div>
                                <!--Card content-->

                            </div>
                            <!--Card-->

                        </div>
                        <!--Grid column-->

                     {% endfor %}
                </div>
                <!--Grid row-->
   
  
            </section>
            <!--Section: Products v.3-->

           <!--Pagination-->
            {% if product_list.has_other_pages %}
            <nav class="d-flex justify-content-center wow fadeIn">
                <ul class="pagination pg-blue">

                    <!-- First Page -->
                    {% if product_list.number > 1 %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="First">
                                <span aria-hidden="true">&laquo;&laquo;</span>
                                <span class="sr-only">First</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="First">
                                <span aria-hidden="true">&laquo;&laquo;</span>
                                <span class="sr-only">First</span>
                            </a>
                        </li>
                    {% endif %}

                    <!-- Arrow left (Previous) -->
                    {% if product_list.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ product_list.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    {% endif %}

                    <!-- Page numbers -->
                    {% for page in product_list.paginator.page_range %}
                        {% if product_list.number == page %}
                            <li class="page-item active">
                                <a class="page-link" href="#">{{ page }}</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    <!-- Arrow right (Next) -->
                    {% if product_list.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ product_list.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    {% endif %}

                    <!-- Last Page -->
                    {% if product_list.number < product_list.paginator.num_pages %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ product_list.paginator.num_pages }}" aria-label="Last">
                                <span aria-hidden="true">&raquo;&raquo;</span>
                                <span class="sr-only">Last</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Last">
                                <span aria-hidden="true">&raquo;&raquo;</span>
                                <span class="sr-only">Last</span>
                            </a>
                        </li>
                    {% endif %}

                </ul>
            </nav>
            {% endif %}
            <!--Pagination-->



            </div>
        </main>
        <!--Main layout-->
    {% endblock body %}
  